$bg-color: #252830;
$bg-page-color:whitesmoke;
$primary-font-color: #252830;
$secundary-font-color: #2d3341;
$primary-color: #008ed6;

body {
    background: $bg-color;
    font-family: 'Open Sans', sans-serif;
    color: $primary-font-color;
}

.navbar{
    border-bottom: $primary-color 2px solid;
}

.nav-item{
    border-left: rgba(255,255,255,0.2) 1px solid;
    padding-left: 2px;
    padding-right: 2px;
}

.absolute-div{
    position: absolute;
    left: 190px;
    top: 75px;

    h1{
        position: absolute;
        left: 190px;
        top: 40px;
        width: max-content;
        color:$bg-page-color;
        font-size: 50px;
        margin-left: 5px;
    }
}

img.perfil{   
    height: 150px;
    width: 175px;
    margin: 2px;
    border: 5px solid whitesmoke;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
}

main{
    width: 900px;
    margin: 175px auto 0px auto;
    background:$bg-page-color;
    padding: 10px;
    box-shadow: 2px 2px 8px black;
}

section.info-pessoais,
section.formacao-academica,
section.formacao-comp,
section.experiencia-prof,
section.participacao-eventos,
section.info-adicionais {
    padding-top: 20px;
    padding-bottom: 40px;

    h2{
        color:$primary-font-color;
        font-size: 25px;
        text-align: center;
        text-decoration: underline;
        padding-bottom: 20px;
    }
    strong{
        color: $primary-font-color;
    }
    p, span, address{
        font-size: 15px;
        color: $secundary-font-color;
    }
}

.border-bottom-section{
    border-bottom: $bg-color 1px solid;
}

footer{
    border-top: $primary-color 2px solid;
}