<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../public/css/reset.css">
		<link rel="stylesheet" href="../public/css/bootstrap.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="../public/css/style.css">   

		<title>Curriculum - Filipe J.</title>
	</head>

	<body>

		<header>
			<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
				<div class="conteiner">
					<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
							
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a href="#home" class="nav-link">Dados Pessoais</a>
							</li>
							<li class="nav-item">
								<a href="#formacao-academica-head-section" class="nav-link">Formação Acadêmica</a>
							</li>
							<li class="nav-item">
								<a href="#formacao-comp-head-section" class="nav-link">Formação Complementar</a>
							</li>
							<li class="nav-item">
								<a href="#experiencia-prof-head-section" class="nav-link">Experiência</a>
							</li>
							<li class="nav-item">
								<a href="#participacao-eventos-head-section" class="nav-link">Eventos</a>
							</li>
							<li class="nav-item">
								<a href="#info-adicionais-head-section" class="nav-link">Info. Adicionais</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="container absolute-div">
			<a href="index.html" class="navbar-brand">
			<img alt="Brand" class="perfil" src="public/imagens/fotoFilipe.jpg"></a>
			<h1>Filipe Jorge</h1>
		</div>

		<main>
			<section class="info-pessoais border-bottom-section">
				<h2>Informações Pessoais</h2>
				<ul>
					<li>
						<strong>Data de Nascimento:</strong> 
						<span>17/12/1991</span>
					</li>
					<li>
						<strong>Endereço:</strong>
						<address>
							Rua das Flores, 34<br>
							Bairro Próspera - Criciuma/SC, 88802-001<br>
						</address>
					</li>
					<li>
						<strong>Estado Civil:</strong>
						<span>Solteiro</span>
					</li>
					<li>
						<strong>Naturalidade:</strong>
						<span>Brasileiro</span>
					</li>
					<li>
						<strong>Telefone:</strong>
						<span>NA</span>
					</li>
					<li>
						<strong>Celular:</strong>
						<span>Tel: (48) 99918-2332</span>
					</li>
					<li>
						<strong>E-mail:</strong>
						<address>
								<a href="mailto:exemplo@gmail.com">exemplo@gmail.com</a>
						</address>
					</li>
				</ul>
			</section>

			<section id="formacao-academica-head-section" class="formacao-academica border-bottom-section">
				<h2>Formação Acadêmica</h2>
				<ul>
					<li>
						<strong>Ensino Fundamental:</strong>
						<p>- Colégio Michel, Lapagesse, Joaquim Ramos, Curso e Colégio Energia</p>
					</li>
					<li>
						<strong>Ensino Médio:</strong>
						<p>- Curso e Colégio Energia</p>
					</li>
					<li>
						<strong>Graduação:</strong>
						<p>- Cursando Engenharia da Computação na SATC</p>
					</li>
				</ul>
			</section>
			
			<section id="formacao-comp-head-section" class="formacao-comp border-bottom-section">
				<h2>Formação Complementar</h2>
				<ul>
					<li>
						<strong>Cursos extras (título, instituição e carga horária):</strong>
						<p>- Curso Profissionalizante em Programação de Computadores - SENAI - 1 ano.</p>
						<p>- Curso de Inglês - TopWay - 1 ano e 8 meses.</p>
					</li>
				</ul>
			</section>
			
			<section id="experiencia-prof-head-section" class="experiencia-prof border-bottom-section">
				<h2>Experiência Profissional</h2>
				<ul>
					<li>
						<strong>Empresa:</strong>
						<p>Thomson Reuters</p>
					</li>
					<li>
						<strong>Cargo:</strong>
						<p>Analista de Negócios</p>
					</li>
					<li>
						<strong>Data de início (mês e ano) e data final:</strong>
						<p>01/2017</p>
					</li>
				</ul>

				<ul>
						<li>
							<strong>Empresa:</strong>
							<p>Thomson Reuters</p>
						</li>
						<li>
							<strong>Cargo:</strong>
							<p>Analista de Negócio</p>
						</li>
						<li>
							<strong>Data de início (mês e ano) e data final:</strong>
							<p>01/2017</p>
						</li>
				</ul>
			</section>
			
			<section id="participacao-eventos-head-section" class="participacao-eventos border-bottom-section">
				<h2>Participação em Eventos</h2>
				<ul>
					<li>
						<strong>Nome: </strong> <span>Semana Acadêmica SATC</span>
					</li>
					<li>
						<strong>Cidade: </strong> <span>Criciúma</span>
					</li>
					<li>
						<strong>Ano: </strong> <span>2017</span>
					</li>
				</ul>
			</section>
			
			<section id="info-adicionais-head-section" class="info-adicionais">
				<h2>Informações Adicionais</h2>
				<ul>
					<li>
						<strong>Competências</strong>
						<p>- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, beatae!</p>
						<p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi magni dolor consequatur sunt reiciendis harum, ducimus neque iusto enim iure reprehenderit dignissimos adipisci ea dolorem?</p>
					</li>
					<li>
						<strong>Carteira de motorista:</strong>
						<p>Sim</p>
					</li>
					<li>
						<strong>Disponibilidade para viagens</strong>
						<p>Não</p>
					</li>
					<li>
						<strong>Idiomas</strong>
						<p>Inglês</p>
					</li>
					<li>
						<strong>Objetivo profissional</strong>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur labore nisi commodi dolores inventore est necessitatibus obcaecati ducimus natus iste deserunt saepe nostrum modi earum quasi dolorum laudantium, dicta aliquid ab? At perspiciatis eveniet ducimus debitis aliquam expedita ad quasi!</p>
					</li>
				</ul>
			</section>
			
		</main>

		<footer class="bg-dark">
			<div class="container">
				<div class="row">
					<div class="col text-center text-light">
						<div class="py-3">
							<h1 class="h3">Curriculum Filipe Jorge</h1>
							<p>By Filipe Jorge</p>
							<button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contato</button>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!--Modal de Contato-->
		<div class="modal fade text-dark" id="contactModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="contactModalTitle">
							Entre em Contato
						</h5>
					</div>
					
					<div class="modal-body">
						<form method="POST" action="send">
							<div class="form-group">
								<label>Nome</label>
								<input type="text" name="name" class="form-control">
							</div>
							<div class="form-group">
								<label>E-mail</label>
								<input type="email" name="email" class="form-control">
							</div>
							<div class="form-group">
								<label>Mensagem</label>
								<textarea name="message" rows="5" class="form-control"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../public/js/jquery.min.js"></script>
		<script src="../public/js/popper.min.js"></script>
		<script src="../public/js/bootstrap.min.js"></script>
	</body>

</html>